/*
* @Author: dell
* @Date:   2019-12-25 10:26:32
* @Last Modified by:   hp
* @Last Modified time: 2019-12-25 11:36:49
*/
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.top{
	height: 27px;
	background-color: rgb(82, 67, 30);
	background-image: url('cart.png');
	background-repeat: no-repeat;
	background-position: 893px;
	width: 1500px;
}
.top1{
	margin-left: 700px;
}
.top1 li{
	display: inline-block;
	margin-left: 12px;
	font-size:14px;
	line-height: 27px;
	color: orange;
}
.top1 li:hover{
	font-size: 18px;
	text-decoration: underline;
	color: 
}
.twoHead{
	height: 150px;
	width: 1475px;
	margin: 0 auto;
	position: relative;
	background: url('images/logo.png') no-repeat 100px center;
}
.cdiv{
	width: 600px;
	height: 150px;
	margin: 0px auto;
	position: relative;
}
.cdiv input{
	width: 500px;
	height: 30px;
	line-height: 30px;
	margin: 60px 20px;
	border: red 2px solid;
}
.inputRight{
	color: white;
	font: normal bold 20px '楷体';
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: red;
	border: 2px solid red;
	position: absolute;
	top: 60px;
	left: 520px;
}
.rdiv{
	width: 300px;
	height: 150px;
	position: absolute;
	right: 100px;
	top: 0px;
}
#word{
	height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
	text-align: center;
	line-height: 150px;
	font: normal bolder 40px '楷体';
	color: lightskyblue;
}
.box{
	width:800px;
	height: 400px;
	border: 0;
	margin:0px 100px 0px 100px;
	position: relative;
	overflow: hidden;
}
.a{
	width: 5600px;
	height: 400px;
	position: absolute;
	left: -800px;
}
.slide{
	border: 2px solid pink;
	width: 800px;
	height: 400px;
	overflow: hidden;
	float: left;
}
.slide>img{
	width: 800px;
	height: 400px;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: ;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size:30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 490px;
	bottom: 8px;
	margin-left: -170px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background:#ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	color: black;
	font-size:13px;
	text-align: center;
}
.nav .c1{
	background:red;
	color: white;
}
.youbian{
	position: absolute;
	left: 910px;
	top: 174px;
	width: 548px;
}
.youbian1{
	height: 400px;
	border:2px solid;
	border-color: pink;
	opacity: ;
	background: ;
}
.youbian2{
	border: 1px solid pink;
	display: inline-block;
	margin-right: 50px;
	position: absolute;
	top: 340px;
	background: yellow;
	width: 152px;
	height: 60px;
	font-size: 18px;
	font-style: '微软雅黑';
	text-align: center;
	line-height: 60px;
	opacity: ;
}
.libian1{
	width: 152px;
	height: 80px;
	background: black;
	opacity: 0.5;
	position: absolute;
	top:340px;
	left: 912px;
	color: red;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	display: none;
}
.zhongjian{
	width: 1200px;
	height: 1200px;
	border: 1px solid;
	margin-left: 130px;
	position: absolute;
	top: 590px;
}
.red{
   	background-color:rgb(120,120,255);
    width:100px;
    height:33px;
   	left:-80px;
   	position: fixed;
   	top: 198px;
   	text-align: center;
   	line-height: 30px;
   	color: white;
   	font-size: 18px;
}
.red:hover{
	color: orange;
	font-size: 20px;
}
.red1{
   	background-color:rgb(120,120,255);
    width:100px;
   	height:33px;
   	left:-80px;
   	position: fixed;
   	top: 237px;
   	text-align: center;
   	line-height: 30px;
   	color: white;
   	font-size: 18px;    	    	
}
.red1:hover{
   	color: orange;
   	font-size: 20px;
}
.red2{
    background-color:rgb(120,120,255);
    width:100px;
    height:33px;
    left:-80px;
    position: fixed;
    top: 276px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 18px; 	
}
.red2:hover{
   	color: orange;
   	font-size: 20px;
}
.red3{
   	background-color:rgb(120,120,255);
    width:100px;
    height:33px;
    left:-80px;
    position: fixed;
    top: 315px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 18px; 	
}
.red3:hover{
   	color: orange;
   	font-size: 20px;
}
.red4{
   	background-color:rgb(120,120,255);
    width:100px;
    height:33px;
    left:-80px;
    position: fixed;
    top: 354px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 18px;  		
}
.red4:hover{
   	color: rgb(160, 76, 247);
   	font-size: 20px;	
}
.heikuang{
	position: fixed;
	right: 0px;
	top: 165px;
}
.heikuang1{
   	border: 1px solid pink;
   	background: white;
   	opacity: 0.6;
   	height: 40px;
   	width: 40px;
   	margin-top: 1px;
}
.heikuang img{
	margin-top: 5px;
	margin-left: 8px;
	height: 30px;
	width: 30px;
}
#wrap {
	width: 485px;
	margin: 20px;
	overflow: hidden;
}
#mark {
   	line-height: 1.5em;
}
#mark h1 {
   	height: 29px;
   	background: url(../images/bg.jpg);
   	font-family: "黑体";
   	font-size: 12px;
   	color: #666;
   	line-height: 29px;
   	padding-left: 20px;
   	letter-spacing: 2px;
   	/* 字之间的距离 */
}
#pic {
   	margin: 10px 0px;
}
#txt {
   	width: 484px;
   	height: 270px;
   	background: rgb(240,236,224);
   	margin: 0px auto;
}
.btn {
   	width: 75px;
   	height: 22px;
   	background: url(../images/sanjiao.png) no-repeat right center;
   	float: right;
   	margin: 10px;
}
.zhongjian1{
	border: 1px solid pink;
	display: inline-block;
	width: 1200px;
	height: 400px;
	overflow: hidden;
	font-style: "黑体";
	font-size: 16px;
	position: relative;
}
.zhongjian11{
	border: 1px solid;
	display: inline-block;
	width: 160px;
	height: 400px;
}
.zhongjian11 img{
	width: 160px;
}
.zhongjian111{
	width: 160px;
	height: 60px;
	opacity: 0.5;
	background: black;
	position: absolute;
	top: 398px;
	color: white;
	font-size: 15px;
	text-align: center;	
}
.d{
	height: 100px;
	margin-left: 70px;
	background-color: #f5f5f5;
	position: absolute;
	top: 1794px;
	left: 63px;
}
.d1{
	height:100px;
	width:1200px;
}
.d1 img{
	float:left;
}
.d1 li{
	width:285px;
	height:52px;
	border-width:0 1px 0 1px;
	border-style:solid;
	border-color:#e0e0e0;
	display:inline-block;
	margin-top:23px;
	text-align:center;
	margin-left:-5px;
}
.zhongjian2{
	display: inline-block;
	width: 1200px;
	height: 340px;
	border: 1px solid pink;
	overflow: hidden;
}
.zhongjian22{
	margin-left: 26px;
	display: inline-block;
	border: 1px solid;
	height: 338px;
	width: 260px;
	border-color: ;
}
.zhongjian22 img{
	height: 230px;
	width: 230px;
	margin-left: 16px;
	margin-top: 15px;
}
.zhongjianz{
	width: 260px;
	height: 88px;
	background-color: rgb(255, 80, 0);
	text-align: center;
	color: white;
	position: absolute;
	top: 658px;
	display: none;
}
.xiabian{
	border: 1px solid;
	width: 560px;
	height: 360px;
	position: absolute;
	right: 140px;
	top: 1400px;
}
#hongkuang{
	background-color: rgb(255,236,224);
	position: relative;
}
#hongkuang img{
	margin-bottom: 300px;
	height: 140px;
	width: 100px;
}
#hongkuang1{
	width: 95px;
	height:130px;
	position: absolute;
	top: 0;
	left: 85px;
}
#hongkuang2{
	width: 180px;
	height: 150px;
	position: absolute;
	top: 143px;
	left:0;
}
#hongkuang3{
	width: 180px;
	height: 100px;
	position: absolute;
	top: 280px;
	left: 0;
}
#hongkuang3 img{
	margin-top: 30px;
	margin-left: 14px;
	width: 65px;
	height: 65px;
}
#hongkuang2 input{
	font-size: 13px;
	margin-right: 20px;
	margin-top: 10px;
	margin-left: 5px;
}
#hongkuang2 #x3{
	margin-left: 40px;
}
#hongkuang2 input:hover{
	color: orange;
	font-size: 15px;
	text-decoration: underline;
}
.i1{
	width:1485px;
	height:248px;
	background-color:#2e2e2e;
	position: absolute;
	top: 1895px;
	left: -50px;
}
.i1{
	height:150px;
}
.i1 ul{
	margin-top:18px;
	display:inline-block;
	margin-left:190px;
}
.i1 a{
	color:white;
	font-size:14px;
	text-decoration:none;
	line-height:30px;	
}
.i1 .i11 a{
	font-size:16px;
}
.e{
	height:100px;
	background-color:#323232;
	position: absolute;
	top: 2045px;
	left:135px;
}
.e1{
	height:100px;
	width:1200px;
}
.e1 p{
	color:#e0e0e0;
	font-size:14px;
	margin-left:230px;
	display:inline-block;
	margin-top:30px;
}
body{
	background: url('bk.jpg');
}